@font-face {
  font-family: 'MonumentExtendedUltrabold';
  src: url('fonts/MonumentExtended-Ultrabold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('fonts/MonumentExtended-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    position: relative;
    font-family: 'Monument Extended', sans-serif;
}

.background{
    width: 100vw;
    height: 100%;
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdnRib2pyNHFjbzFxZjViejU5aDB5ODhlZTloYnV0eW9rMG8yOGp1YyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/TRebCjNbc4dIA/giphy.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(30%);
}

.content {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    margin-top: 5px;
}

.hero{
    border-radius: 5%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
}

#hero-img{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-content{
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title{
    font-family: 'Monument Extended', sans-serif;
    font-size: 80px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
}

.description{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #fff;
    margin-bottom: 40px;
    margin-top: -8px;
}

.background-content{
    width: 100%;
    height: 1080px;
    background: linear-gradient(to bottom, rgba(255, 157, 77, 0), rgba(255, 157, 77, 1), #ff7e4d, #ff5e4d);
    position: absolute;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin-top: 350px;
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
        max-width: 100%;
        top: 0;
        box-sizing: border-box;
    }
    .hero-content{
        width: 100%;
        border-radius: 0%;
    }

    #hero-img{
        width: 100%;
        height: 100%;
        border-radius: 0%;
    }

    .title{
        font-size: 60px;
    }
    .description{
        font-size: 24px;
    }

    .background-content{
        height: 100%;
    }
}